/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  margin: 0;
  background-color: rgb(238, 238, 238);
}

button:hover,
a:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
